Cursos/Criando_Aplicativos_Web_com_Streamlit/Curso_Streamlit/*.csv
Cursos/Criando_Aplicativos_Web_com_Streamlit/Projeto_Streamlit_FIFA/datasets/*.csv
Cursos/Curso_Gratuito_Analise_de_dados/Conteudo_feito_em_aula/*.csv
Cursos/DashboardPython/SUPERMARKET V1/*.csv